<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="../js/script.js" defer></script>
    <link rel="stylesheet" href="../css/news.css">
    <title>Допомога Київ</title>
</head>
<body>
    
    <div class="wrapper">
        <div class="copy_alert">
            <div class="alert_inner">
                <div class="alert">Посилання скопійовано!</div>
            </div>
        </div>
        <div class="menu">
            <div class="menu_inner">
                <a href="./index.html" class="menu_link">Головна</a>
                <a href="./news_kharkiv.html" class="menu_link">Новини</a>
                <a href="./info_nezlamnosti.html" class="menu_link">Корисна інформація</a>
    
                <div class="menu_contacts">
                    <div class="menu_contacts_item">
                        <img src="../img/phone2.svg" alt="">
                        <a href="tel:+380987224435">+380987224435</a> 
                    </div>
                    <div class="menu_contacts_item">
                        <img src="../img/mail2.svg" alt="">
                        <a href="mailto:andrway24@gmail.com">andrway24@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="copy_alert">
                <div class="alert_inner">
                    <div class="alert">Посилання скопійовано!</div>
                </div>
            </div>
            <header class="header">
                <div class="container">
                    <div class="header_inner">
                        <a href="index.html" class="header_title">Допомога Київ</a>
                        <div class="nav">
                            <a href="./news_kharkiv.html" class="nav_link">Новини</a>
                            <a href="./info_nezlamnosti.html" class="nav_link">Корисна Інформація</a>
                            <a href="#" class="nav_link contact_btna">Контакти</a>
                        </div>
    
                        <div class="burger">
                            <span class="burger_span"></span>
                        </div>
    
                        
                    </div>
                </div>
            </header>

        <div class="contacts">
            <div class="contacts_inner">
                <div class="contacts_close">
                    <img src="../img/contactclose.svg" alt="">
                </div>
                <div class="contacts_text">
                    <div class="contacts_item">
                        <img src="../img/phone.svg" alt="">
                        <a href="tel:+380987224435">+380987224435</a> 
                    </div>
                    <div class="contacts_item">
                        <img src="../img/main.svg" alt="">
                        <a href="mailto:andrway24@gmail.com">andrway24@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro_content">
            <div class="container">
                <div class="intro_inner">
                    <div class="intro_column">
                        <div class="intro_content">
                            
                            <div class="post_head">
                                <div class="post_title">Як поводитися під час обстрілів</div>
                                <div class="post_sec">
                                    <div class="post_time">20:50, 08.12.22</div>
                                    <div class="post_share">
                                        <button class="share_text">Поділитися</button>
                                        <img src="../img/link.svg" alt="">
                                    </div>
                                </div>
                                <span class="post_delitel"></span>
                            </div>


                            <div class="post_content">
                                <iframe class="vstroika face" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F24th.brigade%2Fvideos%2F1169544737221417%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true" class="post_img"></iframe>

                                <div class="post_text">

                                    <h2 class="post_h">Обстріл стрілецькою зброєю
                                    </h2>

                                    <p>Якщо ж ви потрапили під обстріл стрілецькою зброєю, тобто з пістолетів, автоматів, гвинтівок, кулеметів, СБУ радить діяти так:
                                    </p>

                                    <ul>
                                        <li>Якщо ви вдома, то сховайте у безпечному місці. Наприклад, у ванній кімнаті або ж самій ванні. Якщо це неможливо, краще лягти, вкрившись предметами, що можуть захистити вас від куль та уламків.</li>
                                        <li>На відкритому місці впадіть на землю. Закрийте голову руками. Перебувайте біля будь-якого виступу чи заглиблення в землі. Укриттям може стати навіть сміттєва урна.</li>
                                        <li>Де б ви не сховались, ваше тіло має бути у безпечному положенні. Згрупуйтесь, ляжте в позу ембріона. Розверніться ногами у бік пострілів: прикрийте голову руками. Коли почнуться постріли, розтулити рот, аби вберегти барабанні перетинки.</li>
                                        <li>Чекайте мінімум 5 хвилин в укритті, доки стрілянина не вщухне.</li>
                                    </ul>

                                    <div class="post_img">
                                        <img src="../img/obs_avt.jpg" alt="">
                                    </div>
                                    


                                    <h2 class="post_h">Артобстріл, мінометний обстріл чи авіанальот
                                    </h2>

                                    <p>Гучний свист, залп запуску та вибух снаряда може означати, що ви потрапили в зону артобстрілу, мінометного обстрілу або авіанальоту.
                                    </p>

                                    <p>Міноборони пояснює, сам снаряд, як і залп установки, можна помітити та зреагувати. Тому краще постійно вести стеження за небом. Вдень – це димний слід від ракети, вночі – яскравий спалах. </p>
                                    <p>Якщо поруч є бомбосховище, то коли ви почули сирену, це знак "Увага всім". Терміново йдіть в укриття.</p>

                                    <ul>
                                        <li>В укритті увімкніть телебачення або радіо на будь-якому носії, або відкривайте сторінки офіційних державних каналів.  Там буде інформація про те, що сталося, протягом п’яти хвилин після сигналу. Виконуйте інструкції.</li>
                                        <li>Залишайтеся в укритті мінімум 10 хвилин після завершення обстрілу, адже існує загроза його відновлення.</li>
                                        
                                    </ul>

                                    <h3 class="post_h">Якщо ви вдома:</h3>

                                    <ul>
                                        <li>Вибирайте місце в кутку та недалеко від виходу для того, щоб миттєво залишити будинок у випадку попадання снаряду.  Ховайтесь у підвалі або іншому заглибленому укритті, між несучими стінами. </li>
                                    </ul>
                                    
                                    <div class="post_img">
                                        <img src="../img/obs_art.jpg" alt="">
                                    </div>
                                    

                                    <h3 class="post_h">Якщо ви в транспорті чи на вулиці, то негайно (2-3 секунди) дійте так:
                                    </h3>

                                    <ul>
                                        <li>Падайте на землю. Закрийте руками або предметами голову. Закривайте долонями вуха та відкривайте рот: це врятує від контузії. Перечекайте перший обстріл лежачи, а далі ховайтеся в безпечному заглибленому приміщенні.  </li>

                                        <li>Не залишайтеся у під'їздах під арками та у підвалах панельних будинків або під стінами будинків із легких конструкцій. У жодному разі не ховайтесь біля всього, що може вибухнути чи впасти на вас. </li>
                                        <li>Для укриття підійдуть підземні переходи, метро, укриття, канава, траншея, яма, широка труба водостоку під дорогою, високий бордюр, каналізаційний люк, траншея чи канава (подібна до окопу) завглибшки 1-2 метри, на відкритому місці.</li>
                                        <li>Якщо обстріл застав вас у маршрутці, тролейбусі або трамваї, машині – слід негайно зупинити транспорт, відбігти від дороги в напрямку "від будівель та споруд" і залягти на землю.</li>
                                    </ul>


                                    <h3 class="post_h">Після закінчення обстрілу (бомбардування):
                                    </h3>

                                    <p>Не поспішайте покидати укриття. Можливі поодинокі постріли. Залишаючи місце притулку, не поспішайте розслаблятися. </p>
                                    <p>Добираючись до безпечного місця, обов’язково дивіться під ноги. Не піднімайте із землі жодних незнайомих вам предметів. У жодному разі не приступайте до розбору завалів від ракет самостійно, чекайте фахівців з аварійно-рятувальної служби, телефонуйте 102.</p>

                                    <div class="post_img">
                                        <img src="../img/obs_hz.jpg" alt="">
                                    </div>

                                    <a class="post_dz" href="https://life.pravda.com.ua/society/2022/03/1/247611/" target="_blank">Джерело інформації</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="intro_column">
                        <div class="news_title">Стрічка новин</div>
                        <div class="news_item">
                            <div class="news_img">
                                <img src="../img/herson.jpg" alt="">
                            </div>
                            <div class="news_text">
                                <a href="./news_kharkiv.html" class="news_desc">Наші збройні сили звільнили херсонську область!</a>
                                <div class="news_date">10:32, 08.12.22</div>
                            </div>
                        </div> 
                            <span class="news_delit"></span>
                            
                            <div class="news_item">
                                <div class="news_img">
                                    <img src="../img/zel.jpeg" alt="">
                                </div>
                                <div class="news_text">
                                    <a href="./news_zel.html" class="news_desc">Є чітка умова, яка означатиме остаточне закінчення війни: у Зеленського її озвучили</a>
                                    <div class="news_date">11:25, 09.12.22</div>
                                </div>
                            </div>
                            <span class="news_delit"></span>

                            <div class="news_item">
                                <div class="news_img">
                                    <img src="../img/berd.jpeg" alt="">
                                </div>
                                <div class="news_text">
                                    <a href="./news_berd.html" class="news_desc">У тимчасово окупованому Бердянську на авіабазі пролунали сильні вибухи</a>
                                    <div class="news_date">15:40, 08.12.22</div>
                                </div>
                            </div>
                        
                        <div class="info">
                            <div class="news_title">Корисна інформація</div>
                            <div class="news_item">
                                <div class="news_text">
                                    <a href="./info_trivog.html" class="news_desc">Що робити під час повітряної тривоги</a>
                                </div>
                            </div> 
                            <span class="info_delit"></span>
                            
                            <div class="news_item">
                                <div class="news_text">
                                    <a href="./info_obstril.html" class="news_desc">Як поводитися під час обстрілів</a>
                                </div>
                            </div>
                            <span class="info_delit"></span>

                            <div class="news_item">
                                <div class="news_text">
                                    <a href="./info_nezlamnosti.html" class="news_desc">Де знаходсятся пункти незламності</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <footer class="footer">
            <div class="footer_inner">
                <div class="footer_text">Допомога Київ ©</div>
            </div>
        </footer>
    </div>
</body>
</html>