<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="../js/script.js" defer></script>
    <link rel="stylesheet" href="../css/news.css">
    <title>Допомога Київ</title>
</head>
<body>
    
    <div class="wrapper">
        <div class="copy_alert">
            <div class="alert_inner">
                <div class="alert">Посилання скопійовано!</div>
            </div>
        </div>
        <div class="menu">
            <div class="menu_inner">
                <a href="./index.html" class="menu_link">Головна</a>
                <a href="./news_kharkiv.html" class="menu_link">Новини</a>
                <a href="./info_nezlamnosti.html" class="menu_link">Корисна інформація</a>
    
                <div class="menu_contacts">
                    <div class="menu_contacts_item">
                        <img src="../img/phone2.svg" alt="">
                        <a href="tel:+380987224435">+380987224435</a> 
                    </div>
                    <div class="menu_contacts_item">
                        <img src="../img/mail2.svg" alt="">
                        <a href="mailto:andrway24@gmail.com">andrway24@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="copy_alert">
                <div class="alert_inner">
                    <div class="alert">Посилання скопійовано!</div>
                </div>
            </div>
            <header class="header">
                <div class="container">
                    <div class="header_inner">
                        <a href="index.html" class="header_title">Допомога Київ</a>
                        <div class="nav">
                            <a href="./news_kharkiv.html" class="nav_link">Новини</a>
                            <a href="./info_nezlamnosti.html" class="nav_link">Корисна Інформація</a>
                            <a href="#" class="nav_link contact_btna">Контакти</a>
                        </div>
    
                        <div class="burger">
                            <span class="burger_span"></span>
                        </div>
    
                        
                    </div>
                </div>
            </header>

        <div class="contacts">
            <div class="contacts_inner">
                <div class="contacts_close">
                    <img src="../img/contactclose.svg" alt="">
                </div>
                <div class="contacts_text">
                    <div class="contacts_item">
                        <img src="../img/phone.svg" alt="">
                        <a href="tel:+380987224435">+380987224435</a> 
                    </div>
                    <div class="contacts_item">
                        <img src="../img/main.svg" alt="">
                        <a href="mailto:andrway24@gmail.com">andrway24@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro_content">
            <div class="container">
                <div class="intro_inner">
                    <div class="intro_column">
                        <div class="intro_content">
                            
                            <div class="post_head">
                                <div class="post_title">У тимчасово окупованому Бердянську на авіабазі пролунали сильні вибухи</div>
                                <div class="post_sec">
                                    <div class="post_time">15:40, 08.12.22</div>
                                    <div class="post_share">
                                        <button class="share_text">Поділитися</button>
                                        <img src="../img/link.svg" alt="">
                                    </div>
                                </div>
                                <span class="post_delitel"></span>
                            </div>


                            <div class="post_content">
                                <div class="post_img">
                                    <img src="../img/berd.jpeg" alt="">
                                </div>

                                <div class="post_desc">На місце виїхало багато швидких та пожежників.

                                </div>
                                <div class="post_text">
                                    <p>У тимчасово окупованому Бердянську Запорізької області на авіабазі пролунали потужні вибухи. Після цього там спалахнула пожежа. </p>

                                    <p>
                                        Про це повідомила "Суспільному" очільниця міської військової адміністрації Бердянська Вікторія Галіціна.
                                    </p>

                                    <p>
                                        У коментарі ВВС радник міністра оборони Юрій Сак повідомив, Україна встановила "майже повний контроль" над Херсоном.
                                    </p>
                                    <p>За даними Галіціної, спочатку було чути три потужні вибухи, після цього пролунало ще 15 вибухів меншої сили. На місце події виїхали майже всі карети швидкої допомоги та пожежні автомобілі, які були в місті. </p>

                                    <p>
                                        На авіабазі спалахнула масштабна пожежа.
                                    </p>
                                    <a class="post_dz" href="https://tsn.ua/" target="_blank">Джерело інформації</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="intro_column">
                        <div class="news_title">Стрічка новин</div>
                        <div class="news_item">
                            <div class="news_img">
                                <img src="../img/herson.jpg" alt="">
                            </div>
                            <div class="news_text">
                                <a href="./news_kharkiv.html" class="news_desc">Наші збройні сили звільнили херсонську область!</a>
                                <div class="news_date">10:32, 08.12.22</div>
                            </div>
                        </div> 
                            <span class="news_delit"></span>
                            
                            <div class="news_item">
                                <div class="news_img">
                                    <img src="../img/zel.jpeg" alt="">
                                </div>
                                <div class="news_text">
                                    <a href="./news_zel.html" class="news_desc">Є чітка умова, яка означатиме остаточне закінчення війни: у Зеленського її озвучили</a>
                                    <div class="news_date">11:25, 09.12.22</div>
                                </div>
                            </div>
                            <span class="news_delit"></span>

                            <div class="news_item">
                                <div class="news_img">
                                    <img src="../img/berd.jpeg" alt="">
                                </div>
                                <div class="news_text">
                                    <a href="./news_berd.html" class="news_desc">У тимчасово окупованому Бердянську на авіабазі пролунали сильні вибухи</a>
                                    <div class="news_date">15:40, 08.12.22</div>
                                </div>
                            </div>
                        
                        <div class="info">
                            <div class="news_title">Корисна інформація</div>
                            <div class="news_item">
                                <div class="news_text">
                                    <a href="./info_trivog.html" class="news_desc">Що робити під час повітряної тривоги</a>
                                </div>
                            </div> 
                            <span class="info_delit"></span>
                            
                            <div class="news_item">
                                <div class="news_text">
                                    <a href="./info_obstril.html" class="news_desc">Як поводитися під час обстрілів</a>
                                </div>
                            </div>
                            <span class="info_delit"></span>

                            <div class="news_item">
                                <div class="news_text">
                                    <a href="./info_nezlamnosti.html" class="news_desc">Де знаходсятся пункти незламності</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <footer class="footer">
            <div class="footer_inner">
                <div class="footer_text">Допомога Київ ©</div>
            </div>
        </footer>
    </div>
</body>
</html>