<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="../js/script.js" defer></script>
    <link rel="stylesheet" href="../css/news.css">
    <title>Допомога Київ</title>
</head>
<body>
    
    <div class="wrapper">
        <div class="copy_alert">
            <div class="alert_inner">
                <div class="alert">Посилання скопійовано!</div>
            </div>
        </div>
        <header class="header">
            <div class="container">
                <div class="header_inner">
                    <a href="index.html" class="header_title">Допомога Київ</a>
                    <div class="nav">
                        <a href="./news_kharkiv.html" class="nav_link">Новини</a>
                        <a href="./info_nezlamnosti.html" class="nav_link">Корисна Інформація</a>
                        <a href="#" class="nav_link contact_btna">Контакти</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="contacts">
            <div class="contacts_inner">
                <div class="contacts_close">
                    <img src="../img/contactclose.svg" alt="">
                </div>
                <div class="contacts_text">
                    <div class="contacts_item">
                        <img src="../img/phone.svg" alt="">
                        <a href="tel:+380987224435">+380987224435</a> 
                    </div>
                    <div class="contacts_item">
                        <img src="../img/main.svg" alt="">
                        <a href="mailto:andrway24@gmail.com">andrway24@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro_content">
            <div class="container">
                <div class="intro_inner">
                    <div class="intro_column">
                        <div class="intro_content">
                            
                            <div class="post_head">
                                <div class="post_title">Що робити під час повітряної тривоги</div>
                                <div class="post_sec">
                                    <div class="post_time">20:50, 08.12.22</div>
                                    <div class="post_share">
                                        <button class="share_text">Поділитися</button>
                                        <img src="../img/link.svg" alt="">
                                    </div>
                                </div>
                                <span class="post_delitel"></span>
                            </div>


                            <div class="post_content">
                                <div class="post_img">
                                    <img src="../img/trivoga.jpg" alt="">
                                </div>

                                <div class="post_desc">Правоохоронці пояснили, що треба робити при повітряній тривозі.

                                </div>
                                <div class="post_text">
                                    <p>Через повномасштабне військове вторгнення РФ в Україні тривають бойові дії, обстріли та лунають сирени повітряної тривоги. Є чіткі правила та алгоритми поводження при повітряній тривозі. У Національній поліції пояснили, що треба робити українцям, якщо лунає сирена повітряної тривоги.
                                    </p>

                                    

                                    <div class="post_desc">Як пояснити дитині правила поведінки при повітряній тривозі</div>
                                    <p>
                                        У Нацполіції зазначили, що дорослі мають роз'яснити дітям порядок дій, коли лунають сирени. За певних обставин алгоритм може бути дещо різним, але найголовніше правило звучить так: почув сирену — одразу прямуй до укриття
                                    </p>
                                    <p>Залежно від того, де знаходиться дитина — в школі чи вдома — вона має знати, як діяти швидко та без паніки.</p>

                                    <h3 class="post_h">Якщо сирена повітряної тривоги застала на вулиці, необхідно:</h3>
                                    <ul>
                                        <li>Одразу прямувати до найближчого укриття (підземні переходи, метро тощо).</li>
                                        <li>Якщо дитина не знає, куди йти – нехай спитає у дорослих.</li>
                                        <li>Якщо поряд немає укриття, але видно лісосмугу, варто прямувати туди і сховатися (дерева забирають на себе розліт осколків).</li>
                                    </ul>

                                    <h3 class="post_h">Вдома при повітряній тривозі потрібно:</h3>
                                    <ul>
                                        <li>Закрити вікна, вимкнути всі прилади та світло.</li>
                                        <li>Швидко одягнутися, взяти з собою тривожну валізу з необхідними речами.</li>
                                        <li>Разом з дорослими прямувати до укриття та уважно стежити за повідомленням місцевої влади, правоохоронців.</li>
                                        <li>Якщо поруч немає укриття, дотримуватися правила "двох стін".</li>
                                    </ul>


                                    <h3 class="post_h">Що робити під час повітряної тривоги у школі
                                    </h3>
                                    <ul>
                                        <li>Чітко виконувати вказівки вчителів, швидко та без паніки пройти в укриття.</li>
                                        <li>Після команди "Відбій повітряної тривоги" разом зі вчителем вийти з укриття та повернутися до класу.</li>
                                    </ul>

                                    
                                    <h3 class="post_h">Що треба робити під час повітряної тривоги у громадському місці</h3>
                                    <ul>
                                        <li>Уважно слухати повідомлення адміністрації закладу, де перебуваєте дитина (або ви), і дотримуватись озвученої інструкції. </li>
                                        <li>Під час евакуації не користуватися ліфтом, а спускатись тільки сходами.</li>
                                        <li>Прямувати до укриття чітко визначеним маршрутом.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="intro_column">
                        <div class="news_title">Стрічка новин</div>
                        <div class="news_item">
                            <div class="news_img">
                                <img src="../img/herson.jpg" alt="">
                            </div>
                            <div class="news_text">
                                <a href="./news_kharkiv.html" class="news_desc">Наші збройні сили звільнили херсонську область!</a>
                                <div class="news_date">10:32, 08.12.22</div>
                            </div>
                        </div> 
                            <span class="news_delit"></span>
                            
                            <div class="news_item">
                                <div class="news_img">
                                    <img src="../img/zel.jpeg" alt="">
                                </div>
                                <div class="news_text">
                                    <a href="./news_zel.html" class="news_desc">Є чітка умова, яка означатиме остаточне закінчення війни: у Зеленського її озвучили</a>
                                    <div class="news_date">11:25, 09.12.22</div>
                                </div>
                            </div>
                            <span class="news_delit"></span>

                            <div class="news_item">
                                <div class="news_img">
                                    <img src="../img/berd.jpeg" alt="">
                                </div>
                                <div class="news_text">
                                    <a href="./news_berd.html" class="news_desc">У тимчасово окупованому Бердянську на авіабазі пролунали сильні вибухи</a>
                                    <div class="news_date">15:40, 08.12.22</div>
                                </div>
                            </div>
                        
                        <div class="info">
                            <div class="news_title">Корисна інформація</div>
                            <div class="news_item">
                                <div class="news_text">
                                    <a href="./info_trivog.html" class="news_desc">Що робити під час повітряної тривоги</a>
                                </div>
                            </div> 
                            <span class="info_delit"></span>
                            
                            <div class="news_item">
                                <div class="news_text">
                                    <a href="./info_obstril.html" class="news_desc">Як поводитися під час обстрілів</a>
                                </div>
                            </div>
                            <span class="info_delit"></span>

                            <div class="news_item">
                                <div class="news_text">
                                    <a href="./info_nezlamnosti.html" class="news_desc">Де знаходсятся пункти незламності</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <footer class="footer">
            <div class="footer_inner">
                <div class="footer_text">Допомога Київ ©</div>
            </div>
        </footer>
    </div>
</body>
</html>